body {
    font-family: 'Quicksand', sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

#translations-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.translation-item {
    display: flex;
    align-items: center; /* Center items vertically */
    padding: 10px;
    border: 2px solid #ccc; /* Default light gray border */
    border-bottom-width: 4px; /* Thicker bottom border */
    border-radius: 10px; /* More rounded corners */
    background-color: #fff;
}

.play-button {
    width: 40px;
    height: 40px;
    padding: 0;
    margin-right: 20px;
    background-color: #007bff;
    border: 2px solid #0056b3;
    border-bottom-width: 4px; /* Thicker bottom border */
    border-radius: 10px; /* Match the rounded corners of the container */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.1s;
    flex-shrink: 0;
}

.play-button:hover {
    border: 2px solid #01458c;
    background-color: #0056b3;
    transform: translateY(4px);
    border-bottom-width: 2px;
}

.play-button:active {
    transform: scale(0.95);
}

.play-icon {
    width: 20px;
    height: 20px;
}

.text-container {
    
    display: flex;
    flex-direction: column;
}

.text-container p {
    margin: 5px 0;
}

.text-container p:first-child {
    font-weight: bold; /* Make Japanese text bold */
}

.text-container p:last-child {
    color: #555; /* Dark gray for English text */
}

/* Color classes */
.blue {
    background-color: #007bff;
    border-color: #0056b3;
}

.red {
    background-color: #ff4d4d;
    border-color: #b30000;
}

.green {
    background-color: #28a745;
    border-color: #1c7430;
}

.yellow {
    background-color: #ffc107;
    border-color: #e0a800;
}
